<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap-theme.css"/>
    <script src="/bootstrap.js"></script>
    <script src="/jquery.js"></script>
    <link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="container">
    <div class="row clearfix">
        <form action="/baidu" method="post">
        <input class="search-text" placeholder="baidu" name="s" type="text"/>
        </form>

        <form action="/github" method="post">
            <input class="search-text" placeholder="github" name="s" type="text"/>
        </form>

        <form action="/mavenRepository" method="post">
            <input class="search-text" placeholder="mavenRepository" name="s" type="text"/>
        </form>


    </div>
</div>


</body>
</html>
