<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap-theme.css"/>
    <script src="bootstrap.js"></script>
    <script src="jquery.js"></script>

    <link rel="stylesheet" href="/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap-theme.css"/>
    <script src="/bootstrap.js"></script>
    <script src="/jquery.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container-fluid">

    <div style="text-align: center;">
        <h4 th:utext="${context.context}"></h4>
    </div>


</div>


</body>
</html>